@media (min-width: 768px) {
  div {
    margin: 0;
    padding: 0;
    border: 0;
  }

  #part1 {
    background-image: url(https://static.ladipage.net/57b167c9ca57d39c18a1c57c/personal-img1.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    color: aliceblue;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  #part1 .heading11 {
    top: 269px;
    height: 46px;
    width: 405px;
    position: relative;
  }
  #part1 .heading11 h1 {
    margin-left: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    text-align: left;
  }
  #part1 .heading12 {
    top: 321px;
    padding: 0px;
    width: 558px;
    height: 66px;
    position: absolute;
  }
  #part1 .heading12 h1 {
    margin-left: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 66px;
    font-size: 60px;
    text-align: left;
  }
  #part1 .heading13 {
    top: 401px;
    width: 443px;
    height: 44px;
    position: absolute;
    background: black;
    margin-left: 25px;
  }
  #part1 .heading13 h6 {
    color: #f7ed00;
    top: 11px;
    left: 13px;
    padding: 0px;
    width: 385px;
    height: 22px;
    display: inline;
    position: absolute;
  }
  #part1 #img1-size {
    height: 751px;
  }

  #part2 {
    background-color: #fafafa;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    float: left;
    width: 100%;
    margin: 0px;
    left: 0px;
    padding: 0px;
    position: relative;
    color: black;
    display: block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 767px;
  }
  #part2 #showImg2 {
    width: 1110px;
    height: 767px;
  }
  #part2 #img2 {
    background-image: url(https://static.ladipage.net/57b167c9ca57d39c18a1c57c/drop2.jpg);
    background-size: contain;
    background-attachment: scroll;
    background-position: right center;
    background-repeat: no-repeat;
    width: 100%;
    height: 767px;
    margin: 0px;
    right: 0px;
    padding: 0px;
    position: absolute;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  #part2 #img2 #showImg {
    height: 100%;
    width: 100%;
  }
  #part2 #content1 {
    z-index: 1;
    left: 25px;
    background-size: cover;
    width: 400px;
    position: relative;
  }
  #part2 #content1 #line1 {
    background-color: crimson;
    position: absolute;
    top: 147px;
    width: 22px;
    height: 5px;
    border: 0px;
    margin: 0px;
  }
  #part2 #content1 #line1 div {
    border: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  #part2 #content1 #content2 {
    position: relative;
    top: 130px;
    width: 373px;
    left: 30px;
  }
  #part2 #content1 #content2 #aboutme {
    position: relative;
  }
  #part2 #content1 #content2 #paragraph1 p {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #part2 #content1 #content2 #name {
    margin-top: 40px;
  }
  #part2 #content1 #content2 .line {
    background-color: darkgray;
    background-size: cover;
    width: 400px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #part2 #content1 #content2 .line div {
    width: 100%;
    height: 100%;
  }
  #part2 #content1 #content2 button {
    border-radius: 0;
    width: 160px;
    height: 40px;
    background-color: black;
    font-size: 15px;
  }

  #part3 {
    background-image: url(https://static.ladipage.net/s1440x700/uploads/images/27d90f10-352d-42c0-9680-87ee47ee9933.jpg);
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 505px;
    position: relative;
    float: left;
  }
  #part3 .container {
    height: 505px;
  }
  #part3 #showImg3 {
    width: 100%;
    height: 100%;
  }
  #part3 #skill {
    top: 80px;
    position: relative;
    left: 25px;
    height: 36px;
  }
  #part3 #skill #line7 {
    background-color: crimson;
    width: 22px;
    height: 5px;
    position: relative;
    top: 25px;
  }
  #part3 #skill #line7 div {
    height: 100%;
    width: 100%;
  }
  #part3 #skill #skills {
    left: 25px;
    position: relative;
    font-size: 30px;
  }
  #part3 #skillDescription {
    position: relative;
    width: 980px;
    height: 300px;
    top: 120px;
    left: 40px;
  }
  #part3 #skillDescription #photoshop {
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #photoshop i {
    float: left;
    width: 42px;
    height: 48px;
  }
  #part3 #skillDescription #photoshop #pts-ct {
    position: relative;
    left: 8px;
    float: left;
  }
  #part3 #skillDescription #photoshop #pts-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #photoshop #pts-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }
  #part3 #skillDescription #illustrator {
    top: -85px;
    left: 40px;
    float: left;
    position: relative;
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #illustrator .fa-rotate-45 {
    float: left;
    width: 42px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #part3 #skillDescription #illustrator #ill-ct {
    position: relative;
    left: 8px;
    float: left;
  }
  #part3 #skillDescription #illustrator #ill-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #illustrator #ill-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }
  #part3 #skillDescription #html5 {
    top: -85px;
    left: 60px;
    float: left;
    position: relative;
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #html5 i {
    float: left;
    width: 42px;
  }
  #part3 #skillDescription #html5 #html-ct {
    position: relative;
    float: left;
  }
  #part3 #skillDescription #html5 #html-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #html5 #html-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }
  #part3 #skillDescription #dreamweaver {
    float: left;
    position: relative;
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #dreamweaver i {
    float: left;
  }
  #part3 #skillDescription #dreamweaver #dw-ct {
    position: relative;
    float: left;
    left: 8px;
  }
  #part3 #skillDescription #dreamweaver #dw-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #dreamweaver #dw-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }
  #part3 #skillDescription #fireworks {
    float: left;
    left: 40px;
    position: relative;
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #fireworks i {
    float: left;
  }
  #part3 #skillDescription #fireworks #fw-ct {
    position: relative;
    float: left;
    left: 8px;
  }
  #part3 #skillDescription #fireworks #fw-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #fireworks #fw-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }
  #part3 #skillDescription #css3 {
    float: left;
    left: 60px;
    position: relative;
    width: 300px;
    height: 85px;
  }
  #part3 #skillDescription #css3 i {
    float: left;
  }
  #part3 #skillDescription #css3 #css-ct {
    position: relative;
    float: left;
    left: 8px;
  }
  #part3 #skillDescription #css3 #css-ct h5 {
    position: relative;
    width: 250px;
    height: 20px;
  }
  #part3 #skillDescription #css3 #css-ct p {
    width: 250px;
    height: 57px;
    position: relative;
    font-weight: lighter;
  }

  #part4 {
    background-color: #ffd800;
    background-size: cover;
    width: 100%;
    height: 385px;
    float: left;
  }
  #part4 #achievement {
    position: relative;
    top: 100px;
    width: 100%;
    height: 150px;
    text-align: center;
  }
  #part4 #achievement h2 {
    font-weight: bold;
  }
  #part4 #achievement #khachhang {
    position: relative;
    margin-left: 50px;
    float: left;
    width: 180px;
    text-align: center;
  }
  #part4 #achievement #duan1 {
    position: relative;
    margin-left: 50px;
    width: 180px;
    text-align: center;
    float: left;
  }
  #part4 #achievement #duan2 {
    position: relative;
    margin-left: 50px;
    width: 180px;
    text-align: center;
    float: left;
  }
  #part4 #achievement #doitac {
    position: relative;
    margin-left: 50px;
    width: 180px;
    text-align: center;
    float: left;
  }
  #part4 #showImg4 {
    width: 100%;
    height: 100%;
  }

  #part5 {
    background-image: url(https://static.ladipage.net/57b167c9ca57d39c18a1c57c/personal-img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 642px;
    width: 100%;
    padding: 0;
    float: left;
  }
  #part5 .container {
    padding: 0;
    height: 0;
  }
  #part5 #education {
    position: relative;
    top: 133px;
    width: 627px;
    height: 0;
  }
  #part5 #education #line8 {
    float: left;
    position: relative;
    width: 22px;
    background-color: #ef106e;
    background-size: cover;
  }
  #part5 #education #line8 div {
    position: relative;
    top: 8.5px;
    width: 100%;
    height: 4px;
  }
  #part5 #education #edu-content {
    position: relative;
    top: -25px;
  }
  #part5 #education #edu-content #head-ct {
    position: relative;
    left: 5px;
    width: 600px;
    height: 129px;
    float: left;
  }
  #part5 #education #edu-content #head-ct h1 {
    font-weight: bold;
  }
  #part5 #education #edu-content #head-ct p {
    margin-top: 20px;
    font-weight: lighter;
  }
  #part5 #education #edu-content #line9 {
    position: relative;
    left: 27px;
    top: 30px;
    float: left;
    background-color: #cfcfcf;
    background-size: cover;
    width: 600px;
    height: 1px;
  }
  #part5 #education #edu-content #line9 div {
    width: 100%;
    height: 100%;
  }
  #part5 #education #edu-content .body-ct {
    margin-top: 50px;
    position: relative;
    left: 27px;
    top: 20px;
    float: left;
    width: 500px;
    height: 72px;
  }
  #part5 #education #edu-content .body-ct .headline h1 {
    width: 61px;
    height: 50px;
    float: left;
  }
  #part5 #education #edu-content .body-ct .ct p {
    line-height: 23px;
  }
  #part5 #showImg5 {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #part6 {
    background-color: #f2f2f2;
    background-size: cover;
    float: left;
    width: 100%;
    height: 396px;
  }
  #part6 .container {
    height: 0;
  }
  #part6 #showImg6 {
    width: 100%;
    height: 100%;
  }
  #part6 #headline6 {
    position: relative;
    top: 74px;
    width: 250px;
    height: 36px;
  }
  #part6 #headline6 #line10 {
    position: relative;
    width: 22px;
    height: 4px;
    float: left;
    top: 25px;
    background-color: crimson;
  }
  #part6 #headline6 #line10 div {
    width: 100%;
    height: 100%;
  }
  #part6 #headline6 #edu {
    position: relative;
    width: 200px;
    height: 100%;
    float: left;
  }
  #part6 #content6 {
    width: 100%;
    height: 231px;
    text-align: center;
    position: relative;
    top: 140px;
  }
  #part6 #content6 .p6-ct {
    height: 100%;
    width: 224px;
    float: left;
    text-align: left;
    position: relative;
    margin-right: 5px;
  }
  #part6 #content6 .p6-ct .header6 {
    width: 100%;
    height: 44px;
    float: left;
  }
  #part6 #content6 .p6-ct .timeline6 {
    position: relative;
    top: 40px;
    float: left;
  }
  #part6 #content6 .p6-ct .timeline6 .box6 {
    position: relative;
    text-align: center;
    background-color: black;
    background-size: cover;
    width: 93px;
    height: 30px;
    text-align: center;
    float: left;
  }
  #part6 #content6 .p6-ct .timeline6 .box6 p {
    float: left;
    top: 3px;
    border: 0;
    margin: auto;
    width: 100%;
    position: absolute;
    height: 100%;
    color: #fafafa;
    text-align: center;
  }
  #part6 #content6 .p6-ct .timeline6 .line11 {
    float: left;
    width: 131px;
    background-color: black;
    background-size: cover;
    height: 1px;
    position: relative;
    top: 15px;
  }
  #part6 #content6 .p6-ct .timeline6 .line11 div {
    width: 100%;
    height: 100%;
  }
  #part6 #content6 .p6-ct .ct6 {
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
    top: 40px;
  }
  #part6 #content6 .p6-ct .ct6 p {
    font-size: 13px;
  }

  #part7 {
    background-image: url(https://static.ladipage.net/57b167c9ca57d39c18a1c57c/personal-img4.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 527px;
    float: left;
    position: relative;
  }
  #part7 .container {
    height: 0;
  }
  #part7 #headline7 {
    width: 553px;
    height: 81px;
    position: relative;
    top: 149px;
    left: 557px;
    float: left;
  }
  #part7 #headline7 p {
    width: 100%;
    height: 100%;
    color: #fafafa;
    font-size: 22px;
  }
  #part7 #line12 {
    background-color: #fafafa;
    background-size: cover;
    width: 555px;
    height: 1px;
    position: relative;
    top: 280px;
    left: 556px;
  }
  #part7 #line12 div {
    width: 100%;
    height: 100%;
  }
  #part7 #content7 {
    width: 530px;
    height: 61px;
    position: relative;
    top: 340px;
    float: left;
  }
  #part7 #content7 .ct {
    width: 259px;
    height: 61px;
    float: left;
  }
  #part7 #content7 .ct .number {
    float: left;
    width: 73px;
    height: 61px;
    color: black;
  }
  #part7 #content7 .ct .number h1 {
    position: relative;
    top: -15px;
    font-size: 60px;
  }
  #part7 #content7 .ct .text {
    position: relative;
    color: #fafafa;
  }
  #part7 #showImg7 {
    width: 100%;
    height: 100%;
  }

  #part8 {
    background-color: #fafafa;
    background-size: cover;
    width: 100%;
    height: 829px;
    float: left;
    text-align: center;
  }
  #part8 #headline8 {
    position: relative;
    top: 88px;
    width: 230px;
    height: 36px;
    float: left;
  }
  #part8 #headline8 #line13 {
    position: relative;
    top: 22px;
    background-color: darkmagenta;
    width: 22px;
    height: 4px;
    background-size: cover;
    float: left;
  }
  #part8 #headline8 #line13 div {
    width: 100%;
    height: 4px;
  }
  #part8 #headline8 #port {
    float: left;
    position: relative;
    left: 30px;
  }
  #part8 #port-img {
    width: 100%;
    position: relative;
    top: 100px;
    height: 600px;
    text-align: center;
    float: left;
  }
  #part8 #port-img img {
    float: left;
    width: 515px;
    height: 300px;
    margin: 20px;
  }
  #part8 #showImg8 {
    width: 100%;
    height: 100%;
  }

  #part9 {
    background-color: rgba(224, 224, 224, 0.61);
    background-size: cover;
    width: 100%;
    height: 764px;
    float: left;
    text-align: center;
  }
  #part9 #headline9 {
    position: relative;
    top: 88px;
    width: 515px;
    height: 36px;
    float: left;
  }
  #part9 #headline9 #line14 {
    position: relative;
    top: 22px;
    background-color: darkmagenta;
    width: 22px;
    height: 4px;
    background-size: cover;
    float: left;
  }
  #part9 #headline9 #line14 div {
    width: 100%;
    height: 4px;
  }
  #part9 #headline9 #certificate {
    float: left;
    position: relative;
    left: 0px;
  }
  #part9 #content9 {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    top: 100px;
  }
  #part9 #content9 .certificate {
    width: 370px;
    height: 287px;
    position: relative;
    float: left;
    text-align: left;
  }
  #part9 #content9 #cer1 {
    background-color: #ffd800;
    background-size: cover;
  }
  #part9 #content9 #cer1 .cer-box {
    width: 340px;
    height: 257px;
    border-color: #fafafa;
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer1 .cer-box h5,
#part9 #content9 #cer1 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #content9 #cer2 {
    background-color: none;
    background-size: cover;
  }
  #part9 #content9 #cer2 .cer-box {
    width: 340px;
    height: 257px;
    border-color: #fafafa;
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer2 .cer-box h5,
#part9 #content9 #cer2 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #content9 #cer3 {
    background-color: #ffd800;
    background-size: cover;
  }
  #part9 #content9 #cer3 .cer-box {
    width: 340px;
    height: 257px;
    border-color: #fafafa;
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer3 .cer-box h5,
#part9 #content9 #cer3 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #content9 #cer4 {
    background-color: none;
    background-size: cover;
  }
  #part9 #content9 #cer4 .cer-box {
    width: 340px;
    height: 257px;
    border-color: rgba(199, 199, 199, 0.82);
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer4 .cer-box h5,
#part9 #content9 #cer4 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #content9 #cer5 {
    background-color: #ef106e;
    background-size: cover;
  }
  #part9 #content9 #cer5 .cer-box {
    width: 340px;
    height: 257px;
    border-color: #fafafa;
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer5 .cer-box h5,
#part9 #content9 #cer5 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #content9 #cer6 {
    background-color: none;
    background-size: cover;
  }
  #part9 #content9 #cer6 .cer-box {
    width: 340px;
    height: 257px;
    border-color: rgba(199, 199, 199, 0.82);
    border-width: 5px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
  }
  #part9 #content9 #cer6 .cer-box h5,
#part9 #content9 #cer6 .cer-box h6 {
    font-weight: bold;
  }
  #part9 #showImg9 {
    width: 100%;
    height: 100%;
  }

  #part10 {
    background-image: url(https://static.ladipage.net/uploads/images/c0315875-a00f-4b93-afbb-0af40a863451.png);
    background-size: cover;
    width: 100%;
    height: 552px;
    float: left;
  }
  #part10 #headline10 {
    position: relative;
    top: 88px;
    width: 370px;
    height: 464px;
    float: left;
  }
  #part10 #headline10 #line15 {
    position: relative;
    top: 22px;
    background-color: darkmagenta;
    width: 22px;
    height: 4px;
    background-size: cover;
    float: left;
  }
  #part10 #headline10 #line15 div {
    width: 100%;
    height: 4px;
  }
  #part10 #headline10 #contact {
    float: left;
    position: relative;
  }
  #part10 #content-contact {
    width: 650px;
    height: 452px;
    position: relative;
    top: 100px;
    left: 50px;
    float: left;
    color: #ef106e;
  }
  #part10 #content-contact h5 {
    margin-bottom: 20px;
  }
  #part10 #content-contact p {
    margin: 0px;
  }
  #part10 #content-contact #line16 {
    height: 1px;
    width: 100%;
    background-color: #ef106e;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  #part10 #content-contact .form-control {
    border-color: #ef106e;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    margin-left: 0;
  }
  #part10 #showImg10 {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
